include ../mixin/mixin.pug
block main-vars

doctype html
html(lang='ru')
  head
    include ../includes/head
    meta(name='description' content=description)
    meta(name='keywords' content=keywords)
    title #{title}
    block head
  body(class=bodyClass)
    include ../includes/preloader
    include ../includes/btnToTop
    include ../includes/modal
    include ../includes/header
    .wrapper
      .page(class=pageClass)
        main.main
          block content
        include ../includes/footer
    
    block script